{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container-fluid mt-5">
		<div class="row">

			
		</div>
		
		
		<div class="row">
			<div class="service d-flex h-100">
				<div class="col-md-6 p-2 shadow-lg" style="margin: auto;border: none;
					border-radius: 5px;box-shadow:0px 10px 5px 5px orange">
			<h2><span style="color:green;font-family:italic;font-weight: 100">About Us </span> </h2>
			<p><span class="item-wrap fancybox"></span> Hola folks!!!It look like you are here to know us better.Shoes Booking is  user friendly,easy to use website where one can order shoes by search products and fill up a simple products order form available on the website .Admin can see the product order request and deliver products.To use all these features you need to login first.so register first and order products</p>
			</div>
			</div>
			
			
			
		</div>
		
	</div>
	</div>

{% endblock content %}