{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-sm-2">
			
		</div>
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header text-white bg-warning">upload Product</div>
				<div class="card-body" style="text-align: center">
					<form action="{% url 'addpro' %}" method="POST" enctype="multipart/form-data">
						{% csrf_token %}

						{{form.as_p}}
				    	<input type="submit" name="save">
		    		</form>
				</div>
				<div class="card-footer bg-warning"></div>
			</div>
			
		</div>
		<div class="col-sm-2">
			
		</div>

		
	</div>
	</div>
	

{% endblock content %}