{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<h2 class="mx-5 my-4 p-2 text-center" style="font-family: Palatino Linotype;color: red">ContactUs</h2>
	<div class="container mt-5">
           
            <div class="row p-2">
                <div class="col mr-2 p-2" style="margin: auto;border: none;
					border-radius: 5px;box-shadow:0px 0px 5px 0px">
                          <div class="mu-contact-top-single">
                            <!-- <img src="images/whatsapp.png" class="info"/> -->
                            <h5 class="mt-2" style="font-family:Palatino Linotype;color: green ">Phonenumber</h5>
                            <a href="tel:+91 8897523679" class="link">+91 8897523679</a>
                          </div>
                        </div>
                <div class="col mx-2 p-2"style="margin: auto;border: none;
					border-radius: 4px;box-shadow:0px 0px 5px 0px">
                          <div class="mu-contact-top-single">
                            <!-- <img src="images/gmail.png" class="info"/> -->
                            <h5 class="mt-2" style="font-family:Palatino Linotype;color: green ">EmailId</h5>
                            <a href="mailto:sreevidya.c@apssdc.in" class="link">sreevidyachintala@gmail.com</a>
                          </div>
                </div>
                <div class="col ml-2" style="margin: auto;border: none;
					border-radius: 5px;box-shadow:0px 0px 5px 0px">
                          <div class="mu-contact-top-single">
                            <!-- <img src="images/gmail.png" class="info"/> -->
                            <h5 class="mt-2" style="font-family:Palatino Linotype;color: green ">Address</h5>
                            <p>Vijayawada,building no-7/2,520001</p>
                          </div>
                </div>

            </div>
            
        </div>

{% endblock content %}