{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row mt-3 ">
		<div class="card col-md-3" style="margin: auto;">

			<h2 class="bg-primary text-white text-center p-2 border rounded my-2">Profile</h2>
			
			
		</div>
		<div class="card col-md-5" style="margin: auto;">
			<h2 class="bg-secondary text-white text-center p-2 border rounded my-2">Details</h2>
			<table class="card-body table table-borderless mx-3 my-2">
				
				
				<tr>
					<th>Username</th>
					<td>{{user.username}}</td>
				</tr>
				<tr>
					<th>DateOf Joining</th>
					<td>{{user.date_joined}}</td>
				</tr>
				<tr>
					<th>Last Joined into site</th>
					<td>{{user.last_login}}</td>
				</tr>
			</table>
			
			
		</div>
		
	</div>
	
	</div>

{% endblock content %}