{% extends 'store/header.html'%}
{% block title %} sign in form {% endblock title %}
{% block body %}
	<div class="container">
		<form action="{%url 'signin' %}"method = "POST">
			<div  class="card col-md-6" style="margin: auto;margin-top: 30px;">
				<div class="card-header bg-info" >login form</div>
			
			<div class=" card-body">
				{% csrf_token %}
				{{form.as_p}}

				<button type="submit"  class="btn btn-primary"> signin</button>
			</div>
			</div>
			
		</form>
	
	</div>
{% endblock body %}